In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [177]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [260]:
df  = pd.read_excel("/content/drive/MyDrive/Applications_for_Machine_Learning_internship_edited.xlsx")

In [261]:
df = df.drop(columns=["Name","Stream","Current Year Of Graduation","Other skills"])

In [262]:
df.columns = ["Python","Machine_learning","NLP","Deep_learning","availability",
              "Degree",'Performance_PG','Performance_UG','Performance_12','Performance_10']

In [263]:
df.shape

(1136, 10)

In [264]:
for i in range(df.shape[0]):
  if ("Yes" in df["availability"][i] or
      "yes" in df["availability"][i]):
     df["availability"][i] = 1
  else:
     df["availability"][i] = 0

<ipython-input-264-0e2bcc941190>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["availability"][i] = 1
<ipython-input-264-0e2bcc941190>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["availability"][i] = 0

In [265]:
#df

In [266]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1136 entries, 0 to 1135
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Python            1136 non-null   int64
 1   Machine_learning  1136 non-null   int64
 2   NLP               1136 non-null   int64
 3   Deep_learning     1136 non-null   int64
 4   availability      1136 non-null   object
 5   Degree            1093 non-null   object
 6   Performance_PG    184 non-null    object
 7   Performance_UG    482 non-null    object
 8   Performance_12    493 non-null    object
 9   Performance_10    427 non-null    object
dtypes: int64(4), object(6)
memory usage: 88.9+ KB

In [267]:
df["Performance_10"] = df["Performance_10"].fillna(0)
df["Performance_12"] = df["Performance_12"].fillna(0)
df["Performance_UG"] = df["Performance_UG"].fillna(0)
df["Performance_PG"] = df["Performance_PG"].fillna(0)
#df["Other skills"] = df["Other skills"].fillna(0)
df["Degree"] = df["Degree"].fillna("0")

In [268]:
df["Performance_10"][3].index("/")

5

In [269]:
for i in range(df.shape[0]):
  if(df["Performance_10"][i]!=0):
    k = df["Performance_10"][i].index("/")
    df["Performance_10"][i] = float(df["Performance_10"][i][:k])
  if(df["Performance_12"][i]!=0):
    l = df["Performance_12"][i].index("/")
    df["Performance_12"][i] = float(df["Performance_12"][i][:l])
  if(df["Performance_UG"][i]!=0):
    m = df["Performance_UG"][i].index("/")
    df["Performance_UG"][i] = float(df["Performance_UG"][i][:m])
  if(df["Performance_PG"][i]!=0):
    n = df["Performance_PG"][i].index("/")
    df["Performance_PG"][i] = float(df["Performance_PG"][i][:n])

<ipython-input-269-5dd085f842ca>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Performance_UG"][i] = float(df["Performance_UG"][i][:m])
<ipython-input-269-5dd085f842ca>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Performance_10"][i] = float(df["Performance_10"][i][:k])
<ipython-input-269-5dd085f842ca>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Performance_12"][i] = float(df["Performance_12"][i][:l])
<ipython-input-269-5dd085f842ca>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Performance_PG"][i] = float(df["Performance_PG"][i][:n])

In [270]:
#df

In [271]:
df["Degree"].unique()

array(['Bachelor of Vocation (B.Voc.)', 'B.Tech',
       'Master of Science (M.S.)', 'Bachelor of Engineering (B.E)',
       'BS in Data Science and Applications', 'PGP',
       'Bachelor of Technology (B.Tech)', 'MBA',
       'Bachelor of Commerce (B.Com)',
       'Master of Computer Applications (MCA)',
       'Post Graduate Diploma in Management (P.G.D.M.)',
       'M.Sc. in Data Science', 'B.Tech (Hons.)',
       'Master of Technology (M.Tech)', 'PG Diploma in Data Science',
       'Integrated M.Sc.', 'Bachelor of Science (B.Sc)',
       'Integrated B.Tech & M.Tech',
       'Bachelor Of Science (B.Sc), Data Science', '0', 'BE',
       'Bachelor of Computer Applications (BCA)',
       'Master of Science (M.Sc)',
       'B.E Computer Science and Engineering (Artificial Intelligence and machine Learning)',
       'Post Graduate Programme (PGP)', 'Ms In Data Science', 'B.Sc',
       'ITI Electrical Engineering', 'M.Sc (Information Technology)',
       'Post Graduate Diploma', 'Bachelor of Arts (B.A.)',
       'Integrated B.E & M.Sc', 'Advanced Certification In Data Science',
       'Btech',
       'Post Graduate Diploma In Computer Applications (P.G.D.C.A.)',
       'Integrated B.E & MBA', 'Master of Science (M.Sc) (Tech)',
       'Integrated MCA', 'Bachelor of Engineering (B.E) (Hons.)',
       'Bachelor Of Mechanical Engineering',
       'Post Graduate Diploma In Data Analytics And Machine Learning',
       'Master of Data Science', 'Bachelor of Chemical Engineering',
       'Master of Arts (M.A.)',
       'Post Graduate Diploma in Human Resource Management (P.G.D.H.R.M.)',
       'M.Sc', 'High School Student. I Want An Internship',
       'Integrated B.Tech & M.Sc', 'Diploma In Pharmacy', 'Bsc',
       'Bachelor of Computer Engineering',
       'Bachelor of Artificial Intelligence',
       'Bachelor of Computer Science (B.C.S.)', 'Integrated B.Tech',
       'Certified Data Scientist',
       'Bachelor of Computer Applications (BCA) (Hons.)',
       'Automobile Engineering', 'Integrated B.E & M.Tech',
       'Integrated M.Tech', 'B.Ed Special Education', 'MCA',
       'Master of Engineering (M.E)', 'Bachelors of Data Science',
       'B.tech Artificial Intelligence And Data Science', 'B.sc(chem)',
       'Bachelor of Science (B.Sc) (Hons.)',
       'Master in Artificial intelligence', 'B.Tech(CSE)',
       'Bachelor Of Technology (B.Tech) CS', 'M.Sc. Management',
       'Bachelor Of Engineering',
       'Post Graduate Diploma in Big Data Analytics (PG-DBDA)',
       'B.Tech (CSE) with specialization in Cyber Security ',
       'Bachelors Of Software Engineering', 'M.Tech', 'Hsc', 'B.A',
       'Bachelors Of Science',
       'Bachelor of Business Administration (B.B.A.)',
       'Graduate Certificate Program', 'Master Of Science',
       'Bachelor of Commerce (B.Com) (Hons.)',
       'Bachelor of Information Technology (B.I.T.)',
       'Master of Computer Science (M.C.S.)',
       'DIPLOMA IN CIVIL Engineering',
       'Bachelor of Science (B.Sc) (Pass)', 'Business Engineering (BE)',
       'Dual Degree', 'Msc.Data Analytics',
       'Master of Information Technology (M.I.T.)',
       'Executive PG Program (EPGP)', 'Post Graduation Diploma'],
      dtype=object)

In [272]:
for i in range(df.shape[0]):
  if( "M" in df["Degree"][i]):
      df["Degree"][i] = 2
  elif("B"in df["Degree"][i]):
      df["Degree"][i] = 1
  else:
      df["Degree"][i] = 0

<ipython-input-272-c9a87f7205d0>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Degree"][i] = 1
<ipython-input-272-c9a87f7205d0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Degree"][i] = 2
<ipython-input-272-c9a87f7205d0>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Degree"][i] = 0

In [273]:
#df

In [274]:
for i in range(df.shape[0]):
  if(df['Performance_10'][i]>10):
    df['Performance_10'][i] = df['Performance_10'][i]/10
  if(df['Performance_12'][i]>10):
    df['Performance_12'][i] = df['Performance_12'][i]/10
  if(df['Performance_UG'][i]>10):
    df['Performance_UG'][i] = df['Performance_UG'][i]/10
  if(df['Performance_PG'][i]>10):
    df['Performance_PG'][i] = df['Performance_PG'][i]/10

<ipython-input-274-47155a675b44>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Performance_12'][i] = df['Performance_12'][i]/10
<ipython-input-274-47155a675b44>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Performance_UG'][i] = df['Performance_UG'][i]/10
<ipython-input-274-47155a675b44>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Performance_10'][i] = df['Performance_10'][i]/10
<ipython-input-274-47155a675b44>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Performance_PG'][i] = df['Performance_PG'][i]/10

In [275]:
df

,Python,Machine_learning,NLP,Deep_learning,availability,Degree,Performance_PG,Performance_UG,Performance_12,Performance_10
0,1,0,0,1,1,1,0,6.5,0,0
1,2,0,0,0,1,1,0,8.9,0,0
2,2,2,0,0,1,2,0,0,0,0
3,3,2,2,0,1,1,0,0,8.56,10.0
4,2,2,0,0,1,1,0,8.1,9.34,10.0
...,...,...,...,...,...,...,...,...,...,...
1131,2,2,0,2,1,1,0,0,0,0
1132,3,3,2,3,1,1,0,0,0,0
1133,3,1,3,3,1,1,0,8.77,9.4,0
1134,2,1,0,0,1,1,0,7.9,9.0,0
1135,2,0,0,0,1,1,0,0,0,0

# Now to choose best candidates we need to rank all this applicants.

In [276]:
#ranking

In [277]:
#assigning scores to the respective skills
# to change the score please cahnge score on the shortlisted_interns() function.

py = 5
ML = 10
NLP = 10
DL = 10
Deg = 5
theta = np.array([py,ML,NLP,DL,Deg,1,1,1,1,1])

In [278]:
df.shape[0]

1136

In [279]:
def intern_score(x, theta):
  x = np.array(x)
  return np.dot(x,theta.T)

In [280]:
def Ranking(X,theta):
  intern_dict = {}
  for i in range(X.shape[0]):
    score = intern_score(X[i],theta)
    intern_dict[i] = score
  intern_dict = sorted(intern_dict.items(), key=lambda x:x[1], reverse=True)
  intern_dict = dict(intern_dict)
  return intern_dict

In [281]:
#Ranking(df,theta)

In [300]:
def Shortlisted_interns(needed_intern,X):
  py = 5
  ML = 10
  NLP = 10
  DL = 10
  Deg = 5
  theta = np.array([py,ML,NLP,DL,Deg,1,1,1,1,1])
  X = np.array(X)
  intern_dict= Ranking(X,theta)
  inter_index =list(intern_dict.keys())
  return inter_index[:needed_intern],intern_dict

# As no names are given we will idenntify interns by their index numbers...

---

---

In [304]:
no_of_needed_interns = int(input("enter the needed interns:"))
interns,score_dict = Shortlisted_interns(no_of_needed_interns,df)
print("index of shortlisted interns are:",interns)
print("index","   "," score")
for i in (interns):
  print(i,"   ",format(score_dict[i],".2f"))

enter the needed interns:10
index of shortlisted interns are: [246, 1073, 767, 862, 957, 1039, 422, 1000, 595, 640]
index      score
246     144.92
1073     143.47
767     137.30
862     133.26
957     129.50
1039     129.16
422     127.84
1000     127.80
595     125.93
640     125.50